<!-- header -->
<%-include('../inc/header')%>
<!-- /header -->

<div class="wrapper">
    <!-- add pro and find -->
    <h1>Order</h1>
    <hr>
    <!-- /add pro and find -->
    <form action="" method="post">
        <div class="container-fluid">
            <div class="row">
            
                    <form action="" method="post" id="tb-sp">
                        <table class="table table-bordered table-striped text-center">
                            <thead class="thead table-dark">
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">All product</th>
                                    <th scope="col">Payment method</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Total price</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <!-- Table Content -->
                            <!-- <div id="content"></div>
                            <hr> -->
                            <tbody>
                                <%for(var i = 0; i < list.length;i++){%>
                                <tr>
                                    <th scope="row"><%=i+1%></th>
                                    <td><p><%=list[i].id_user.name%></p></td>
                                    <td><p><%=list[i].list_product%></p></td>
                                    <td><p><%=list[i].payment_method%></p></td>
                                    <td><p><%=list[i].state%></p></td>
                                    <td><p><%=list[i].total_price%></p></td>
                                    <td><p><%=list[i].date%></p></td>
                                    <td class="action">
                                        <a href="/sp/upPro/<%=list[i]._id%>" class="btn border-shadow update">
                                            <span class="text-gradient">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </span>
                                        </a>
                            
                                        <a href="#" class="btn border-shadow delete" id="delete" data-id="<%=list[i]._id%>">
                                            <span class="text-gradient">
                                                <i class="fa-solid fa-trash"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            
                                <%}%>
                            </tbody>
                            <!-- /Table Content -->
                        </table>
                    </form>

                    <!-- Pagination -->
                    <!-- <div id="paging"></div> -->
                    <%-include('../inc/pagination')%>
                    <!-- /Pagination -->
            
            </div>
        </div>
    </form>
</div>
</div>

<!-- footer -->
<%-include('../inc/footer')%>
<!-- /footer -->